.post-do-blog {
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

.leia-mais {
	padding: 10px;
	margin: 15px;
	display: block;
	font-size: 150%;
	text-align: center;
	background-color: #D9E5E3;
}