@CHARSET "ISO-8859-1";

.cadastro *:not(select):not(option) {
	display: inline-block;
}

.ssuc {
	background-image: url("../img/Imagem1.png");
	background-size: 100%;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 120px;
}

.sfail {
	background-image: url("../img/Stop.png");
	background-size: 100%;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 120px;
}

.cadastro * {
	margin-bottom: 1%;
}

.cadastro label input {
	display: inline-block;
}

.cadastro label {
	width: 15%;
	text-align: right;
}

.cadastro label+input {
	width: 30%;
	margin: 0 2% 1% 1%;
}

.cadastro input {
	margin-left: 1%;
	margin-right: 1%;
}

.positivo {
	color: green;
}

.negativo {
	color: red;
}

#sexo {
	margin-right: 1%;
}

#dtnasc {
	width: 15%;
	text-align: right;
}

#diabox {
	mardin-right: 1%;
	margin-left: 16%;
}

#mesbox, #anobox {
	margin-right: 1%;
	margin-left: 1%;
}

.endereco {
	width: 100%;
}

#num {
	width: auto;
	margin-right: 1%;
}

#numt {
	width: 5%;
}

#pais {
	width: 15%;
	margin-right: 1%;
}

#estado, #cidade {
	width: auto;
	margin-right: 1%;
	margin-left: 1%;
}