@CHARSET "UTF-8";

input[type="password"], input[type="text"] {
	padding: 7px 0;
	width: 300px;
}

td {
	text-align: left;
}

.separador {
	padding-bottom: 10px;
}

input, select {
	border: solid #404040 1px;
}

div {
	margin-bottom: 30px;
}

.ssuc {
	background-image: url("../img/Imagem1.png");
	background-size: 100%;
	width: 32px;
	height: 32px;
	position: absolute;
}

.sfail {
	background-image: url("../img/Stop.png");
	background-size: 100%;
	width: 32px;
	height: 32px;
	position: absolute;
}