@CHARSET "UTF-8";

body * {
	font-size: 100%;
}

.header {
	width: 100%;
	position: absolute;
	top: 0px;
}

.container {
	width: 75%;
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: #222;
	color: #eeeeee;
	padding: 30px 0;
}