@CHARSET "UTF-8";

body {
	font-family: lato, Calibri, sans-serif;
	font-size: 105%;
	background-color: #dbdbdb;
}

header {
	width: 100%;
	border-bottom: 5px solid black;
	padding-bottom: 10px;
}

.container {
	width: 60%;
	margin: 0 auto;
	padding: 15px;
	border-left: 5px solid black;
	border-right: 5px solid black;
}

footer {
	border-top: 5px solid black;
	width: 100%;
	padding-top: 10px;
}

header, footer {
	background-color: #5CADFF;
}

header img {
	width: 25%;
}

.feedSuccess {
	border: 2px solid green;
}

.feedError {
	border: 2px solid red;
}

.successMessage {
	color: green;
}

.errorMessage {
	color: red;
	margin-right: 1%;
}

.feedImgSuccess {
	background-image: url("../img/success.png");
	background-size: 100%;
	width: 32px;
	height: 32px;
	position: absolute;
}

.feedImgError {
	background-image: url("../img/error.png");
	background-size: 100%;
	width: 32px;
	height: 32px;
	position: absolute;
}

.admbutton {
	background-color: #36F;
	border: 2px solid #000;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}