@CHARSET "UTF-8";

.td-label {
	text-align: right;
}

.table>tbody>tr>.td-label {
	padding-top: 13px;
}

#nome-input {
	width: 400px;
}

#sexo-input {
	width: 150px;
}

#cpf-input, #telefone-input, #celular-input, #nascimento-input {
	width: 150px;
}

#email-input {
	width: 300px;
}

#apelido-input {
	width: 300px;
}

#senha-input, #confirma-senha-input {
	width: 300px;
}

#sexo-input, #novidades-label-sim, #novidades-label-nao,
	#termos-label-check {
	margin-top: 7px;
}

.container {
	padding-left: 230px;
}