@CHARSET "UTF-8";

.profile {
	padding: 10px;
	border: 1px solid #286090;
	height: 300px;
}

.profile-banner{
	background-color: #286090;
	padding: 30px 30px 30px 30px;
	height: 180px;
	width: 100%;
	color: white;
}

.profile-banner-photo {
	width: 160px;
	height: auto;
	float: left;
}

.profile-banner-photo img {
	width: 120px;
	height: 120px;	
	padding: 10px;
}

.profile-banner-content {
	float: left;	
}

.profile-table {
	float: left;
}

.profile-table td {
	padding: 10px 40px 10px 30px;
	font-size: 120%;
	text-align: right;
	font-weight: bold;
}

.profile-table-information td{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 120%;
	text-align: left;
}