@CHARSET "UTF-8";

.info-user {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: flex-start;
	flex-direction: row;
	background-color: #fff;
	border-radius: 10px;
	border: 2px solid #000;
}

.info-user > div > label{
	width: 20em;
	text-align: right;
	margin-right: 2em;

}

.info-user > div > input{
	border-radius: 10px;
	margin: 5px;
}

.info-user > div > input:focus, .info-user > div > input:hover{
	-webkit-outline-radius: 100px;
	background-color: blue;
}

.info-user > div {
	display: flex;
	align-items: center;
}

