.form-description {
	padding: 10px 30px;
}

.form-box {
	border: 2px solid #222;
	border-radius: 5px;
	background-color: #fff;
	color: #000;
}

fieldset>form>label:nth-child(2n+1) {
	margin-top: 10px;
}

input[id="nome"], input[id="email"] {
	width: 100%;
}

textarea {
	width: 100%;
	background-color: #fff;
	border: 1px solid #000;
}

input[id="nome"], input[id="email"] {
	border: 1px solid #000;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	background-color: #fff;
}

input[id="nome"]:hover, input[id="email"]:hover, input[id="nome"]:focus,
	input[id="email"]:focus {
	outline: none;
}


.form-box>form>button {
	margin: 5px 0px;
	border-radius: 10px;
	color: #fff;
	height: 2em;
	width: 5em;
	border: 0;
	font-weight: bold;
	background: linear-gradient(to bottom, rgba(118, 140, 255, 0.74),
		#1E00C9);
	background: #99adff;
	background: -moz-linear-gradient(top, #99adff 0%, #1e00c9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99adff),
		color-stop(100%, #1e00c9));
	background: -webkit-linear-gradient(top, #99adff 0%, #1e00c9 100%);
	background: -o-linear-gradient(top, #99adff 0%, #1e00c9 100%);
	background: -ms-linear-gradient(top, #99adff 0%, #1e00c9 100%);
	background: linear-gradient(to bottom, #99adff 0%, #1e00c9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99adff',
		endColorstr='#1e00c9', GradientType=0);
}

.form-box>form>button:hover {
	box-shadow: 0 0 20px #000;
	background: linear-gradient(to bottom, rgba(92, 115, 235, 0.53), #2F2B4A);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #69B4FE;
}