@CHARSET "UTF-8";

.footer {
	background-color: #5D57F5;
	color: #eee;
	padding: 30px 0;
	width: 100%;
	position: relative;
	height: 80px;
	margin-top: -80px; /* valor negativo da altura do rodapé */
	clear: both;
}

.footer>.container {
	padding: 0;
	height: 100%;
}