.header {
	width: 100%;
	background: #5D57F5;
	height: 150px;
	display: flex;
	flex-grow: 200px;
}

.logo {
	width: 150px
}

.navigation {
	background: linear-gradient(to bottom, rgba(118, 140, 255, 0.74),
		#1E00C9);
	height: 50px;
}

.navigation>.container {
	padding: 0;
	height: 100%;
}

.link-list {
	height: 100%;
}

.link-list li {
	position: relative;
	text-align: center;
	padding: 0;
	width: 150px;
	height: 100%;
	margin: 0;
	text-align: center;
}

.link-list li div:HOVER {
	box-shadow: 0 0 20px #000;
	background: linear-gradient(to bottom, rgba(92, 115, 235, 0.53), #2F2B4A);
}

.link-list li a {
	position: relative;
	font-size: 120%;
	text-decoration: none;
}

.link-list li a div {
	transition: .5s;
	padding: 12px;
	position: relative;
	color: #fff;
	width: 100%;
	height: 100%;
}