html,
body,
.wrapper {
  height: 100%;
}
body > .wrapper {
  height: auto;
  min-height: 100%;
}
#hu3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: pink;
}
@media not all and (min-width: 310px) {
  header,
  main,
  footer {
    display: none;
  }
  #hu3 {
    display: block;
  }
}
@media (min-width:310px) and (max-width:500px) {
  main {
    overflow: auto;
    padding-top: 30px ! important;
    padding-bottom: 80px ! important;
  }
  footer {
    position: relative;
    margin-top: -50px ! important;
    height: 50px ! important;
    clear: both;
  }
  header,
  main,
  footer {
    display: block;
    width: 100%;
  }
  header {
    height: 10%;
  }
  .container {
    margin: 0 auto;
    width: 85%;
  }
}
@media not all and (max-width: 500px) {
  header,
  main,
  footer {
    display: none;
  }
  #hu3 {
    display: block;
  }
}
