html,
body {
  height: 100%;
}
body > .wrapper {
  height: auto;
  min-height: 100%;
}
.main {
  overflow: auto;
  padding-top: 30px ! important;
  padding-bottom: 110px ! important;
}
.footer {
  position: relative;
  padding: 16px 0 20px 0;
  margin-top: -80px ! important;
  height: 80px ! important;
  clear: both;
}
#hu3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: pink;
}
.container {
  margin: 0 auto;
  width: 85%;
}
@media not all and (min-width: 310px) and (max-width: 2000px) {
  .header,
  .main,
  .footer {
    display: none;
  }
  #hu3 {
    display: block;
  }
}
