@CHARSET "UTF-8";

/* general */
body * {
	font-size: 100%;
}

html, body, .wrapper {
	height: 100%;
}

body>.wrapper {
	height: auto;
	min-height: 100%;
}

.wrapper {
	overflow: auto;
	padding-bottom: 80px; /* deve ter a mesma altura do rodapé */
}