.wrapper (@height: 100px) {
	main {
		overflow: auto;
		padding-bottom: @height;
	}

	footer {
		position: relative;
		margin-top: -@height;
		height: @height;
		clear: both;
	}
}

.centralizado (@tamanho: 95%) {
	margin: 0 auto;
	width: @tamanho;
}

