@import 'variables.less';
.wrapper (@padding: 30px , @height: 100px) {
	//O resto está no site.less
	.main {
		overflow: auto;
		padding-top: @padding ! important;
		padding-bottom: @height+@padding ! important;
	}

	.footer {
		position: relative;
		padding: @height/5 0 @height/4 0;
		margin-top: -@height ! important;
		height: @height ! important;
		clear: both;
	}
}

.centralizado (@tamanho: 95%) {
	margin: 0 auto;
	width: @tamanho;
}

