// Resoluções
@min-device-width : 310px;
@min-smartphone-width : 310px;
@max-smartphone-width : 500px;

// Media queries
@smartphone : ~"(min-width:@{min-smartphone-width}) and (max-width:@{max-smartphone-width})";

// Theme
@bgcolor : lighten(darkblue, 45%);
@navcolor : white;

// Min e max height dos elementos
@min-header-height : 50px;