// Resoluções
@min-supported-width : 310px;
@max-supported-width : 2000px;

@min-smartphone1-width : 310px;
@min-smartphone2-width : 500px;

@min-ipad1-width : 750px;
@min-ipad2-width : 1010px;

// Media queries
@smartphone1 : ~"(min-width:@{min-smartphone1-width})";
@smartphone2 : ~"(min-width:@{min-smartphone2-width})";

@ipad1 : ~"(min-width:@{min-ipad1-width})";
@ipad2 : ~"(min-width:@{min-ipad2-width})";

@smartphone : ~"(min-width: 310px) and (max-width: 500px)"; 

// Theme
@themebg : lighten(darkblue, 45%);
@navcolor : yellow;
@bodybg : #e9eaed;

// Default attributes


//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~HEADER~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
@default-header-height: 12vh;