@import '../mixin.less';
@import '../variables.less';
html , body {
	height: 100%;
}

body > .wrapper {
	height: auto;
	min-height: 100%;
}

.wrapper (30px , 80px);

.hue () {
	.header , .main , .footer {
		display: none;
	}

	#hu3 {
		display: block;
	}
}

#hu3 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: pink;
}

.container {
	.centralizado (85%);
}

@media not all and (min-width: @min-supported-width) and (max-width: @max-supported-width) {
	.hue;
}