@import '../mixin.less';
@import '../variables.less';
@media (min-width: 310px) and (max-width: 500px) {
	h1 {
		font-size: 1.5em;
		padding: 0 0 1em;
	}

	p {
		font-size: .75em;
		padding: .75em 0;
	}

	.container {
		.centralizado (85%);
	}

	input , label, .inline  {
		display: block;
		width: 80%;
		margin: .5em 10%;
	}
	
	.inline > *, .inline > span * {
		width: auto;
		display: inline;
		margin: 0 .25em .5em;
	}
	
	.inline #sexo-label {
		display: block;
	}
}

html , body {
	height: 100%;
}

body > .wrapper {
	height: auto;
	min-height: 100%;
}

.wrapper (30px , 80px);
.hue () {
	.header , .main , .footer {
		display: none;
	}

	#hu3 {
		display: block;
	}
}

#hu3 {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: pink;
}

